{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if property.fileName %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="" class="card-img-top" style="width: 100%; height: auto">
                    {% else %}
                        <img src="{{ asset('images/properties/delivreuses.jpg') | imagine_filter('medium') }}" alt="" class="card-img-top" style="width: 100%; height: auto">
                    {% endif %}
                </div>

                <div class="col-md-4">

                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} pièces - {{ property.surface }} m2</h2>

                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.formatedPrice }}€
                    </div>

                    <a href="#" class="btn btn-primary">Contacter l'agence</a>

                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">

                <p>
                    {{ property.description | nl2br }}
                </p>

                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Étages</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Spécificités</h2>
                <ul>
                    {% for feature in property.features %}
                        <li class="list-group-item">{{ feature.name }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    </div>
{% endblock %}


