<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Mon agence{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <script>
            $('select').select2();
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
